body {
    border: solid 1px black;
    height: 90vh;
    margin: 20px;
    padding: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color:purple;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color:violet;
}

div {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    
}

.main-page p {
    margin: 0 15% 2% 15%;
}

.main-page .initials-div {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    width: 100%;
}

.submit-button {
    height: 21px;
    width: 75.27px;
    margin-left: 5px;
}

#submit-p {
    margin: 0px 5px 0px 0px;
}

.score-buttons {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
}